h1 {
	text-align: center;
	margin-top: 50px;
	padding: 20px 0px;
	font-size: 5em;
}
h3 {
	padding: 20px 0px;
	font-weight: bold;
	text-align: center;
	margin: auto;
	line-height: 1.5em;
}
h4 {
	font-weight: normal;
	text-align: center;
	line-height: 1.25em;
	width: 75%;
	margin: auto;
}
main div#form-segue {

	background: linear-gradient(to right, #11998e, #38ef7d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	width: 100%;
	text-align: center;
	margin: -30px auto 100px auto;
	width: 100%;
	color: white;
	line-height: 120px;
	height: 120px;
	font-size: 3em;
}
main div.column {
	position: relative;

	margin-top: 20px;
}
