.about-text h2{
    font-weight: bold;
    font-size: 1.7em;
}
.about-text h3{
    margin-top: 40px;
    padding: 10px 25px;
    line-height: 1.5em;
    font-size: 1.3em;
    background-color: #F4F4F8;
    border-radius: 0px 0px 40px 0px;
}

#about-text-holder {
    float: left;
    width: 70%;
    min-height: 100px;
    vertical-align: center;
}
#about-menu {
    margin-top: 0px;
    display: inline-grid;
    float: left;
    width: 25%;
    margin-top: 0px;
    margin-left: 5%;
    padding: 0px;

    border-top: 5px solid grey;
    border-bottom: 5px solid grey;

}
#about-menu li {
    float: left;
    width: 100%;
    height: 80px;
    padding-top: 25px;
    margin: 1px auto;

    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.5em;

    background: #8e9eab; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8e9eab, #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    background-color: grey;
    transition-duration: 500ms; 
}
#about-menu li:hover {
    margin: 5px auto;
    margin-left: -10%;
    width: 120%;
    background: none;
}

.about-text:nth-child(1) h2 { color: red; }
.about-text:nth-child(2) h2 { color: limegreen; }
.about-text:nth-child(3) h2 { color: navy; }
.about-text:nth-child(4) h2 { color: coral; }

#about-menu li:nth-child(1):hover { background-color: red; }
#about-menu li:nth-child(2):hover { background-color: limegreen; }
#about-menu li:nth-child(3):hover { background-color: navy; }
#about-menu li:nth-child(4):hover { background-color: coral; }