/*Makes highlighting anything in header impossible*/
header {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    box-shadow: 0 4px 3px -3px gray;
}

.navbar-inverse, .navbar-header h1 {
	height: 115px;
	border-radius: 0px;
	border-bottom: 3px solid red;
	border: none;
}
.container-fluid {
	padding: 0px;
}

.navbar-header {
	margin: 0px !important;
}
.navbar-header h1 {
	padding: 0px 20px;
	padding-top: 25px;
	margin: 0px;

	background-color: #e52d27;
	font-size: 4em;
	font-weight: lighter;
	color: white;
}
.navbar-header span {
	font-weight: bold;
}
.navbar-collapse {
	padding: 0px;
}
.navbar li {
	text-align: center;
}


@media screen and (min-width: 1100px){
	div.navbar-collapse {
		background-color: #333;
	}
	div.navbar-collapse > ul.navbar-nav > li > a{
		line-height: 80px;
		height: 115px !important;
		color: lightgrey;
		font-size: 1.1em;
	}
}
@media screen and (max-width: 1100px){
	div.navbar-collapse ul.navbar-nav {
		width: 100% !important;
		margin: 0 !important;
		background-color: #333
	}
	div.navbar-header {
		width: 100% !important;
	}
}
@media screen and (max-width: 767px){
	div.navbar-header{
		font-size: 2vh !important;
		height: 115px;
		text-align: center;
	}

	div.toggle-menu-container {
		display: relative;
		width: 100%;
		float: none;
	}

	button.navbar-toggle {
		display: table;
		float: none;
		margin: -18px auto;
		z-index: 5;
		background-color: grey;
	}
	div.navbar-collapse {
		border-top-width: 0px !important;
		display: block;
		overflow: hidden;
		float: none;
		margin: 2px auto;		
		width: 200px;
		background-color: #333
	}
	div.navbar-collapse li:first-child {
		padding-top: 15px;
	}
	div.navbar-collapse ul.navbar-nav li a {
		color: white !important;
	}
	div.navbar-collapse ul.navbar-nav ul {
		padding: 0px;
	}
	div.navbar-collapse ul.navbar-nav ul > li {
		padding: 5px;
		background-color: #e52d27;
	}
}