body {
	margin: 0;
}

main {
	min-height: 500px;
	margin: 0 auto;
}

main {
	margin: 40px auto;
}

/*main div#main-title {
	padding: 30px 50px;
	border-left: 3px solid black;
} */
main h1 {
	padding: 20px;
	font-size: 3em;
	width: fit-content;
	margin: 0 auto;
} 
img#spider-background {
    position: fixed;
    z-index: -4;
    opacity: 0.03;
   	left: 0; top: 50px; bottom: 0;
    width: 50%;

}

@media screen and (min-width: 1150px){
	main {
		width: 70%;
	}
}
@media screen and (max-width: 1149px){
	main {
		width: 80%;
		padding-top: 10px;
	}
	main h1 {
		margin-top: 40px;
	} 
	#main-container, #main-container h1 {
		margin-top: 30px;
	}
}

@media screen and (max-width: 767px){
	main {
		padding-top: 15px !important;
	}
	#main-container, #main-container h1 {
		margin-top: 0px !important;
	}
	#main-container h1 {
		font-size: 2em;
		padding: 15px 30px !important;
		margin-bottom: 35px;
	}
}