body { margin: 0px; }
ul {list-style: none;}

/*Makes highlighting anything in header impossible*/
header {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    box-shadow: 0 4px 3px -3px gray;
}

#cover {
	display: none;
	position: fixed;
	z-index: 1;

	top: 0; right: 0; bottom: 0; left: 0;
	
	background-color: black;
	opacity: .25; 
}

#container {
	position: absolute;
	overflow: auto;

	text-align: center;
	width: 100%;
}

/* ----------------------------------------- */
/* ---------------- Header ----------------- */
/* ----------------------------------------- */

#header-body {
	position: relative;
    overflow: initial;

    width: 100%;
    border-bottom: 3px solid red;}

#title {
	float: left;

	margin: auto;
	padding: 25px;
	height: 115px;

	background-color: #e52d27;
} 
#title h1 {
	margin: auto;
	position: relative;
	white-space: nowrap;

	font-size: 4em;
	font-weight: lighter;
	color: white;} 
#title h1 span { font-weight: bold; }

nav ul.nav {
	white-space: nowrap;
	overflow: hidden;
}
nav ul.nav > li {
	position: relative;
	float: left;
	white-space: pre-wrap;

	font-size: 1.2em;
} 
nav ul.nav > li:hover, li.hovered {
	color: white;
	background-color: lightgrey;
} 
nav ul.nav > li:hover ul.sub-menu {
	display: grid;
	width: 200px;
}
nav ul.nav > li.selected {
	background-color: #e52d27;
	color: white;
}

ul.sub-menu {
	z-index: 3;
	position: fixed;
	display: none;
	padding: 0px;
	overflow: hidden;

	background-color: lightgrey;
	border-top: 3px solid red;
	border-left: 3px solid red;
}
ul.sub-menu > li {
	position: relative;
	display: inline-block;
	float:left;

	width: auto !important;
	padding: 5px 10px;
	font-size: 1em;
	color: #555;
}
ul.sub-menu > li:hover {
	color: white;
}

/* Mobile Only */
#title button {
	z-index: 0;
	display: none;
	background-color: white;
} 
.navbar-toggle .icon-bar {
	background-color: #888;
	margin: auto;
} 					
/* End of Mobile Only */

/* End of default width content */

@media screen and (min-width: 1076px){
	nav ul.nav {
		height: 115px;
	}
	nav ul.nav > li {
		width: 12%;
		padding: 45px 1%;
	} 
	nav ul.nav > li.long {
		padding: 35px 1%;
	}
	nav ul.nav > li:first-child { 
		width: 16%;
	} 
}

/*Begin justified content styles (636px - 1075px)*/
@media screen and (max-width: 1075px){
	#title {
		width: 100%;
	}
	nav ul.nav {
		float: none;
		display: inline-block;
		width: 600px;
		height: 40px;
		vertical-align: bottom;
	} 
	nav ul.nav > li, nav ul.nav > li:first-child {
		padding: 10px 2% !important;
		width: min-content !important;
	}
	nav ul.nav > li, nav ul.nav > li:first-child {
		padding: 10px 2% !important;
		width: min-content !important;
	}  	
	ul.sub-menu {
		top: 155px;
	}
} 

/*Begin mobile content styles (< 636px)*/
@media screen and (max-width: 635px){
	#title {
		padding: auto 20% auto 5%;
	}
	#title h1 {
		margin-top: 4%;
		font-size: 10vw;
		text-align: right;
	}
	#title button {
		display: block;
		position: fixed;
		z-index: 1;

		height: 50px;
		width: 50px;
		left: 25px; 
		top: 25px;
	}

	nav ul.nav {
		position: fixed;
		vertical-align: center;
		z-index: 2;

		width: 100px;
		height: 100vh;
		left: -100px;
		padding-top: 118px;
		background-color: #e52d27;
	} 

	nav ul.nav.active {
		left: 0px !important;
	}

	nav ul.nav > li, header ul.nav > li:first-child {
		display: inline-block;

		width: 100% !important;
		padding: 10vh 1%;
		color: white;
		height: 40px !important;

		font-size: 1.3em;
	} nav ul.nav li.selected {
		background-color: white;
		color: grey;
	}
	ul.sub-menu {
		background-color: white;
		border-top: 0px !important;
		left: 100px;
	}
	ul.sub-menu > li:hover {
		background-color: lightgrey;
	}
	nav ul.nav > li:hover ul.sub-menu {
		display: none;
	}
} 

/* ----------------------------------------- */
/* ----------------- Main ------------------ */
/* ----------------------------------------- */
main iframe {
	position: relative;
	width: 100%;
	border: none;
}